{% extends "GestionBundle::layout.html.twig" %} 

{% block contenido %}
    <div class="container jumbotron text-center">
        <h2><span>BIENVENIDO A GESTIÓN DEL CDB CARACAL FUENLABRADA</span></h2>
    </div>
    
{% endblock %}