{% extends "CataBundle::menu.html.twig" %} 

{% block contenido %}
    <div class="container jumbotron text-center">
        <h2><span>ADMINISTRACIÓN DE CATÁLOGOS DEL SISTEMA</span></h2>
    </div>
    
{% endblock %}