{% extends "GestionBundle::layout.html.twig" %} 

{% block contenido %}
    <div class="container jumbotron text-center">
        <h2><span>PÁGINA PRINCIPAL DE GESTIÓN SOCIOS</span></h2>
    </div>
    
{% endblock %}