{% extends "PersonaBundle::menu.html.twig" %} 
{% block titulo %} GESTIÓN DE PERSONAS: {{Persona.apenom}}
   <a href="{{path("queryPersona")}}" class="btn btn-success">Volver</a>
{% endblock %}
    
{% block contenido %}
    <div class="container">
        {{form_start (form,{'action':'','method':'POST'})}}
        {{form_end (form)}}
    </div>
    <div class="clearfix"> </div>
{% endblock %}