{% extends "ContabilidadBundle::menu.html.twig" %} 
{% block titulo %} Proyecto: {{Proyecto.descripcion}} 
    <a href="{{path("queryProyecto")}}" class="btn btn-success">Volver</a>
    <hr/>
{% endblock %}
    
{% block contenido %}
    <div class="container">
        {{form_start (form,{'action':'','method':'POST'})}}
        {{form_end (form)}}
    </div>
{% endblock %}