{% extends "CompeticionBundle::menu.html.twig" %} 

{% block contenido %}
    <div class="container jumbotron text-center">
        <h2><span>GESTIÓN DE COMPETICIONES</span></h2>
    </div>
    
{% endblock %}
