{% extends "CataBundle::menu.html.twig" %} 
{% block titulo %} GESTIÓN DE PROVINCIAS: NUEVA ENTRADA
<a href="{{path("queryProvincia")}}" class="btn btn-success">Volver</a>
{% endblock %}
    
{% block contenido %}
    <div class="container">
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">
                {{message}}
            </div>
        {% endfor %}
        
        {{form_start (form,{'action':'','method':'POST'})}}
        {{form_end (form)}}
    </div>
{% endblock %}