{% extends "PersonaBundle::menu.html.twig" %} 

{% block contenido %}
    <div class="container jumbotron text-center">
        <h2><span>GESTIÓN DE PERSONAS</span></h2>
    </div>
    
{% endblock %}