{% extends "GestionBundle::layout.html.twig" %} 
{% block menu %}
    <ul class="nav navbar-nav">
        <li class="active"><a href="{{path("gestion_homepage")}}">Menu Principal</a></li>
        <li><a href="{{path("queryPersona")}}">Consulta</a></li>
        <li><a href="{{path("querySocio")}}">Gestión Socios</a></li>
        <li><a href="{{path("queryArquero")}}">Gestión Arqueros</a></li>
    </ul>    
{%endblock%}                                    
